@import "tailwindcss";

:root {
  --background: #FEFAEF;
  --foreground: #000000;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --font-gfs-didot: var(--font-gfs-didot);
}

@media (prefers-color-scheme: light) {
  :root {
    --background: #FEFAEF;
    --foreground: #000000;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-gfs-didot);
}
