@import "tailwindcss";

:root {
  --background: #FEFAEF;
  --foreground: #000000;
  --background-secondary: #E0E2E3;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-background-secondary: var(--background-secondary);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --font-gfs-didot: var(--font-gfs-didot);
}

@media (prefers-color-scheme: light) {
  :root {
    --background: #FEFAEF;
    --foreground: #000000;
    --background-secondary: #E0E2E3;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-gfs-didot);
}
